/* Container styles */
.container {
  height: 70%;
  justify-content: space-between;
  width: 100%;
  background-color: #0c1821;
  margin-left: 8em;
}

.paginator {
  margin-right: 20em;
}

/* Grid container styles */
.grid-container {
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 15px));
  margin-bottom: 3%;
  width: 100%;
}

/* Card styles */
.card {
  background-color: #0c1821;
  padding: 2px;
  border-color: #af7595;
  border-radius: 15px;
  border-style: double;
  border-width: 9px;
}

/* Image styles */
.img {
  align-items: center;
  border-radius: 15px;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
  position: relative;
  overflow: hidden;
}

img {
  border-radius: 15px;
  height: 100%;
  width: 100%;
}

.description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

h2{
  font-size:medium;
}

.img:hover img {
  filter: brightness(0.5);
}

.img:hover .description {
  opacity: 1;
  color: #af7595;
}
