* {
  margin: 0%;
  padding: 0%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  background-color: #3c3744;
  gap: 2em;
  justify-content: stretch;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #af7595;
  margin: 2px;
  padding: 2px;
  border-radius: 15px;
}

.card > h2 {
  padding: 0.5em;
}

.card > img {
  width: 10em;
  height: auto;
  border-radius: 15px;
  margin: 0.5em;
}
