* {
  margin: 0%;
  padding: 0%;
}

header {
  background-color: #0c1821;
  width: 100vw;
  height: 20%;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5em;
  align-content: center;
}

.link {
  color: #92dce5;
  text-decoration: none;
}

.link:hover {
  text-shadow: 0px 0px 5px #92dce5;
}
